*{
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}

body, html{
  background-color: #7DA870;
}

.App{
  display: grid;
  grid-template-columns: 16% 84%;
  grid-template-rows: 100%;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0000001f;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}